
<%# this section from header partial file  %>
<%=render 'layouts/shared/header'%>
<div class="search_form">
   <%= form_with url: search_path, method: :get do |form| %>
   <%= form.text_field :name, placeholder:"Search..." ,class:"search_sty"%>
   <%= form.submit "Search" , class:"search_btn"%>
   <% end %>
</div>

<%# filter by price %>
<div class="container">
   <div class="row">
      <div class="col-3 pt-5">
         <div class="filter">
            <h6 class="p-1 border-bottom">Filter By</h6>
            <p class="mb-2">Price</p>
            <ul class="list-group">
               <li class="list-group-item list-group-item-action mb-2 "><a href="#" ><%= link_to "High to low", highest_price_path , class: "text-muted"%></span> </a></li>
               <li class="list-group-item list-group-item-action mb-2 "><a href="#"  >  <%= link_to "Low to high", lowest_price_path, class:"text-muted" %> </a></li>
               <li class="list-group-item list-group-item-action mb-2 "><a href="#"  >  <%= link_to "Default", root_path, class:"text-muted" %> </a></li>
            </ul>
         </div>
         
        <%# filter product by category  %>
         <%= render "category"%>

        <%# filter product by store  %>
          <%= render "store"%>
      </div>
      
      <%# Will render os show from partial product file %>
      <div class="col-9"> 
         <%= render 'product'%>
      </div>
   </div>
</div>
