<style>
    .progress {
        width: 500px;
        height: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
    }

    .progress-bar {
        width: 0%;
        height: 100%;
        background-color: #4caf50;
    }

</style>

<%= render 'layouts/shared/side_menu'%>

<div class="body_class" style="margin-top: 2%;" >

<%= form_with url: import_products_path , method: :post do |form| %>
<%= form.file_field :file%>
<%= form.button  "Import"  ,class:"button-31" do %>
 <i class="fa-solid fa-upload" style="color: white"></i> Import
<% end %>

<%end%>


<table class="table align-middle mb-0 bg-white table-hover" style= "margin-top:1%">
  <thead class="bg-light">
    <tr class="table-active">
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Production_Date</th>
      <th>Expiration_Date</th>
      <th>Stock_Quantity</th>
      <th>Store_name</th>

      <th class="text-center">Action</th>
      
    </tr>
  </thead>
  <tbody>
  <%@products.each do |row|%>
    <tr>
      <td>
        <div class="d-flex align-items-center">
        
               <%if row.image.attached?%>
                  <img class="rounded-circle" style="width: 45px; height: 45px" src="<%= url_for (row.image)%> ">
                <%else%>
                  <img class="rounded-circle"  style="width: 45px; height: 45px" src="<%= url_for (row.url)  %>" >
              <%end%>
          <div class="ms-3">
            <p class="fw-bold mb-1"><%=row.name%></p>
          </div>
        </div>
      </td>
         <td>
        <div class="d-flex align-items-center">
          <div class="ms-3">
            <p class="fw-bold mb-1"><%=row.description%></p>
          </div>
        </div>
      </td>
         <td>
        <div class="d-flex align-items-center">
          <div class="ms-3">
            <p class="fw-bold mb-1"><%=row.price%></p>
          </div>
        </div>
      </td>
         <td>
        <div class="d-flex align-items-center">
          <div class="ms-3">
            <p class="fw-bold mb-1"><%=row.production_date%></p>
          </div>
        </div>
      </td>
        <td>
        <div class="d-flex align-items-center">
          <div class="ms-3">
            <p class="fw-bold mb-1"><%=row.expiration_date%></p>
          </div>
        </div>
      </td>
       <td>
        <div class="d-flex align-items-center">
          <div class="ms-3">
            <p class="fw-bold mb-1"><%=row.stock_quantity%></p>
          </div>
        </div>
      </td>
       <td>
        <div class="d-flex align-items-center">
          <div class="ms-3">
            <p class="fw-bold mb-1"><%=row.store.name%></p>
          </div>
        </div>
      </td>
  <div class="progress" style="display: none">
  <div class="progress-bar" style="width: 0%">
    
  </div>
</div>
      <td class="text-center ">
         <%=link_to "show ", product_path(row) , class:"btn btn-success btn-sm btn-rounded"%>

         <%=link_to "Edit Product ", edit_product_path(row) ,class:"btn btn-primary btn-sm btn-rounded"%>
       
         <%=link_to "delete Product", row, data: {'turbo-method': :delete  , turbo_confirm: 'Are you sure?'},class:"btn btn-danger btn-sm btn-rounded"%></td>
      </td>
    </tr>
 <%end%>
  </tbody>

</table>



<div class="btn-position"></div>
 <%=link_to "Create Product ", new_product_path , class:"btn btn-secondary btn-
 lg btn-rounded"%>



  <div class="pagination">
  <%= will_paginate @products,  class: 'custom-pagination', style: "position:relative ; right: -40%"%>
</div>

