<%= form_with(model: @product ,scope: :product ,url: owner_new_product_path ) do |product|  %>

<div class = "form">
<%= product.label :name ,  class:"form-label" %>
<%= product.text_field :name , class:"form-control" %>

<%= product.label :description ,  class:"form-label" %>
<%= product.text_area :description , class:"form-control" %>

<%= product.label :price ,  class:"form-label" %>
<%= product.text_field :price , class:"form-control" %>

<%= product.label :production_date ,  class:"form-label" %>
<%= product.date_field  :production_date , class:"form-control" %>

<%= product.label :expiration_date ,  class:"form-label" %>
<%= product.date_field  :expiration_date , class:"form-control" %>

<%= product.label :stock_quantity ,  class:"form-label" %>
<%= product.number_field  :stock_quantity , class:"form-control" %>

<select name="product[store_id]" id="product_store_id" >
  <option selected="selected" value="">Choose store</option>
<%@stores.each do  |row|%>
  <%if current_user.id == row.user_id %>
  <option value="<%=row.id %>" class="form-control"><%= row.name%></option>
   <%end%>
  <%end%>
</select>
</br>
<%= product.submit  class:"btn btn-secondary"%>
</div>
<%end%>